<article>
  <div class="post-title">
    <a href="{{post_url}}" class="title-text">{{title}}</a>
  </div>
  <div class="post-text">
    <div>
      {{recipe_text}}
    </div>
    <div class="text-dark text-opacity-50">
      Created on
      {{created_at}}
      by
      {{user.username}}
      |
      <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
  </div>
</article>